.User{
  width: 100%;
  min-height: 100%;
  background: #f5f5f5;
  margin-bottom: 60px;
  margin-top: 60px;
  height: 100%;
  min-height: 600px;

  .User-wrapper {
    padding: 15px;
    min-height: 600px;
  }

  .User-profile {
    width: 50%;
    margin: auto;
  }

  .favorite-column{
    padding: 20px;
    min-height: 500px;
    margin-top: 15px;
    h1 {
      text-align: center;
    }

    .favorite-grid {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      padding: 5px;
      justify-items: center;

      
      .Card {
        margin: 0;
        width: 75%;
        .card-grid {
          width: 100%;
        }

        .card-grid-img {
          height: 250px;
          width: 100%;
        }
      }
    }
  }

  .root {
    width: 100%;
    background: #fff;
  }
  .inline {
    display: inline;
  }
}
