.User{
  width: 100%;
  min-height: 100%;
  background: #f5f5f5;
  margin-bottom: 60px;
  margin-top: 60px;
  height: 100%;
  min-height: 600px;

  .User-wrapper {
    padding: 15px;
    min-height: 600px;
  }

  .User-profile {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    text-align: center;

    .username {
      position: relative;
      top: -15px;
      margin-left: 5px;
      text-transform: capitalize;
    }

    img {
      width: 35px;
    }
    @media all and (max-width: 600px) {
      width: 100%;
    }
  }

  .favorite-column{
    padding: 20px;
    min-height: 500px;
    margin-top: 15px;
    h1 {
      text-align: center;
    }

    .favorite-grid {
      width: 100%;
      display: flex;
      gap: 10px;
      padding-left: 10px;
      justify-content: center;
      flex-wrap: wrap;

      
      .Card {
        margin-left: 5px;
       
        .card-grid {
          width: 210px;
        }

        .card-grid-img {
          height: 250px;
          width: 100%;
        }
      }
    }
  }

  .root {
    width: 100%;
    background: #fff;
  }
  .inline {
    display: inline;
  }
}
