.Card {
  margin: auto;
  margin-top: 20px;

  .card-grid {
    max-width: 300px;
  }

  .card-grid-img {
    height: auto;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}