.Card {
  margin: 15px 10px;

  .card-grid {
    width: 210px;

    .movie-title {
      padding: 5px 10px;
    }

    .card-grid-img {
      height: 260px;
      width: 100%;
    }
  
    h2 {
      font-weight: 700;
    }
  
    a {
      text-decoration: none;
      color: inherit;
    }
  
    .genre {
      font-size: 12px;
      font-style: italic;
      margin-left: 15px;
    }
  }

}