.MovieCard {
  width: 90%;
  margin: auto;
  margin-bottom: 60px;

  .Inner-Card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  

  .movie-image {
    width: 300px;
   
    margin-right: 30px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.164);
    img {
      width: 250px;
      height: 350px;
    }
  }

  .movie-details {
    h1 {
      text-align: center;
    }
    
    padding: 20px;
    background: #fff;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.164);
  }
}