.MovieCard {
  width: 90%;
  margin: auto;
  margin-bottom: 60px;

  .Inner-Card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  

  .movie-image {
    width: 300px;
   
    
    box-shadow: 4px 4px 5px rgba(54, 54, 54, 0.171);
    img {
      width: 250px;
      height: 350px;
    }
  }

  .movie-details {
    h1 {
      text-align: center;
    }

    padding: 20px;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(54, 54, 54, 0.171);
  }
}