.MovieCard {
  width: 100%;
  margin: auto;
  margin-bottom: 60px;

  

  .Movie-List {
    padding: 20px 10px 40px 10px;
    margin: 0 20px 0 20px;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
    
    .Card {
      margin-left: 17px;;
    }

  }

  // .Inner-Card {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-around;
  //   margin-bottom: 20px;
  // }
  

  .movie-image {
   
    box-shadow: 4px 4px 5px rgba(54, 54, 54, 0.171);
    img {
      width: 207px;
    }
  }

  .movie-details {
    padding: 20px;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(54, 54, 54, 0.171);
    
    h1 {
      text-align: center;
    }

  }
}