.Modal{
  position: absolute;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.404);
  width: 100%;
  bottom: 0;
  top:0;
  display: flex;
  justify-content: center;
  height: 100%;

  .Modal-Centered {
    position: relative;
    align-self: center;
    width: 70%;
    z-index: 100;
 
  }
 
}
