.Registration-Form {
  position: relative;
  margin: auto;
  height: auto;

  .Inner-Login-Form {
    margin: auto;
    padding: 60px;
    position: relative;
    width: 100%;

    .bg-video {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }

    video {
      width: 100%;
      margin: auto;
    }

    .log-reg-form{
      position: absolute;
      width: 100%;
      top: 0px;
      display: flex;
      justify-content: center;
      height: auto;
      bottom: 0;
  
      form {
        width: 300px;
        background: #fff;
        padding: 20px;
        align-self: center;
      }
    }
  }

  

  
  .Login-Email {
    margin-bottom: 10px;
  }

  .Login-Password {
    margin-bottom: 20px;
  }

  @media all and (max-width:768px) {

    .Inner-Login-Form {
      padding: 0px;
      border: none; 
      .log-reg-form {
        form {
          width: 100%;
        }
  
      }
  
      .bg-video {
        display: none;
      }
    }
   
  }
}